<!DOCTYPE html>
<html>
  <%- include('../partials/header', {title: 'Home Page'}); %>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
  <a href="/birds/create" class="btn btn-primary">new Bird</a>
</html>
